[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ROptimus"]
	path = ROptimus
	url = https://github.com/sahakyanlab/roptimus
[submodule "kmeRtone"]
	path = kmeRtone
	url = https://github.com/sahakyanlab/kmertone
